<div>

        <input type="text" name="firstName" placeholder="First Name" style="width: 15%"><br><br>
        
        <input type="text" name="lastName" placeholder="Last Name" style="width: 15%"><br><br>
        
        <input type="text" name="email" placeholder="Email" style="width: 17%"><br><br>

        <textarea name="Message" style="resize: none; width: 70%"></textarea><br><br>

        <!--         
        <input type="text" name="message" placeholder="Write here the content of your message" style="height: 100%"><br><br> -->
        
        <input type="button" name="send" value="Send">
        
    </div>