<div>

        <input type="text" placeholder="Write 'Confirm' to delete" [(ngModel)]="confirmed"><br>
    
    
        <table *ngIf="customers">
    
            <tr>
    
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Update button</th>
                <th>Delete button</th>
                
            </tr>
            
            <tr *ngFor="let customer of customers">
    
                <td>{{customer.firstName}}</td>
                <td>{{customer.lastName}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.password}}</td>
                <td class="customButton" (click)="updateCustomer(customer)">Update</td>
                <td class="customButton" (click)="deleteCustomer(customer)">Delete</td>
    
            </tr>
    
        </table>
    
    
         
    </div>