<div>

    <h1>Shoupon</h1>
    
    <div>

        This is a website that implements my(Aviv Goldgamer) coding skills in angular(html, css, typescript). <br><br>

        this is an example fo a SPA(Single Page Application) website,<br>
        its a coupon system that lets people log in as (Customer, Company, Administrator) and gives each commands <br> <br>

        the website will show coupons will let you create your own and even purchase them.

    </div> <br><br><br> 

    <img src="assets\Images\Logo.jpg" alt="Logo">

</div>


