body , html{

    height: 100%;
    margin: 0%;
    padding: 0%;

}

h1{

    color: #61892f;
    text-align: center;

}

h2{

    color: #61892f;
    text-align: center;
}

p{

    color: #6b6e70;

}

div{

    color: #6b6e70;
    
}

a{

    background-color: #86c222;

}








